# Exclude local data directories
data/
data-teste/
cache/
tmp/
dist

# Exclude git
.git/
.husky/
.github/
**/*.md
**/.gitkeep
**/.vscode
.github
.gitignore
.vscode

# Exclude IDE settings
.vscode/
.idea/

# Exclude environment files
.env
.env.example

# Exclude helper files
.dockerignore
docker-compose.yml
compose.yml
*.yaml
*.yml
*.md
.gitignore
Makefile
Dockerfile*
LICENSE
README.md
bin/
artifacts/
.artifacts/