DATABASE_URL="postgres://pg:123@localhost:5432/urlshort?sslmode=disable"
MIGRATION_DATABASE_URL="pgx5://pg:123@localhost:5432/urlshort?sslmode=disable"
PORT="3000"
ENVIRONMENT="DEVELOPMENT"
MIGRATIONS_PATH="migrations"

DB_USER="pg"
DB_PASSWORD="123"
DB_DATABASE="urlshort"
DB_HOST="db"
DB_PORT="5432"

REDIS_HOST="shorturl-cache"
REDIS_PORT="6379"
REDIS_PASSWORD="123"

JWT_SECRET=MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgHQ5BWxB9NlRB89pOVY320IISVsSCOLKtGy0nVybrHNdzIhQW64XN8af66SvAN4CG9ZuzH73iGOFUXoMTwy1bDKsoxrRgybEoHA8wZxw0yOItYoQ8HY6fzLJTEmHtMTPLKCqhZe70vEBK/N69dJhZWL0MH4UeQwLgibIrCoPQuhbAgMBAAE

