package components

templ Base() {
	<html data-theme="kazdel-dark">
		<head>
			<title>Kazdel - a url shortener</title>
			<link rel="icon" type="image/svg+xml" href="/static/kazdel.svg"/>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="/static/main.css" rel="stylesheet"/>
			<script src="/static/bundle.js"></script>
		</head>
		<body id="main-body">
			{ children... }
		</body>
	</html>
}
