package components

templ Base() {
	<html data-theme="kazdel-dark">
		<head>
			<title>Kazdel - a url shortener</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"/>
			<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
			<link href="/static/main.css" rel="stylesheet"/>
			<script src="/static/bundle.js"></script>
		</head>
		<body id="main-body">
			{ children... }
		</body>
	</html>
}
