package components

import "kazdel/pkg/ui/icons"

templ LandingFooter() {
	<div class="absolute bottom-8 left-8 text-base-content/30 font-mono text-xs tracking-widest uppercase">
		V.0.0.1 // PROTOCOL: KAZDEL_SHORT
	</div>
	<div class="absolute bottom-2 right-2 text-base-content/30 font-mono text-xs tracking-widest uppercase flex items-center gap-2">
		made with <span class="text-red-500">❤</span> by 
		<a href="https://github.com/luanc202" class="flex items-center gap-2">
			luan 
			@icons.GitHubIcon(18)
		</a>
	</div>
}
