package pages

import "kazdel/pkg/ui/components"

templ Home() {
    @components.Base() {
        <div class="flex flex-col min-h-screen">
            <h1>Kazel: A url shortener</h1>
        </div>
    }
}